@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Poppins:,300,regular,italic,500,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1720px;
  margin: 0 auto;
}

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btn {
  width: 163px;
  height: 45px !important;
  position: relative;
  z-index: 4;
  left: -4px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 35px;
  background-color: #ff3c2d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_h {
  padding: 0px 0px;
  width: 120px;
}

.btn_b {
  padding: 0px 35px;
  font-size: 18px;
  height: 45px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  height: 45px;
  width: 200px;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 4px 0px 0px 4px;
  z-index: 6;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  padding: 24px 0px 24px 0px;
  position: relative;
  z-index: 500;
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 32px;
  height: 30px;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 32px;
  min-height: 32px;
}

.header__column:first-child:before {
  content: "";
  display: inline-block;
  min-height: 120px;
  visibility: hidden;
}

.header__logo {
  margin: 0px 150px 0px 0px;
  position: relative;
  z-index: 200;
}

.header__btn {
  margin: 0px 70px 0px 0px;
  position: relative;
  z-index: 200;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 35px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__link:hover {
  color: #ff3c2d;
}

.icon-menu {
  display: none;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list li {
  margin: 0px 0px 0px 20px;
}

.socials__list li:first-child {
  margin: 0px 0px 0px 0px;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

footer {
  padding: 90px 0px 27px 0px;
  background-color: #222222;
  color: #fff;
}

footer a {
  color: #fff;
}

.footer__top {
  max-width: 1560px;
}

.footer__bottom {
  max-width: 1560px;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 75px auto;
}

.top-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.top-footer__column:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.top-footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.top-footer__title {
  color: #626262;
  font-size: 21px;
  margin: 0px 0px 30px 0px;
}

.top-footer__list li {
  margin: 0px 0px 20px 0px;
}

.top-footer__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.top-footer__link {
  font-size: 18px;
}

._no-webp .top-footer__resources li{
  background: url("../img/footer/Arrow.png") 0 center no-repeat; }

.top-footer__resources li {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 26px;
}

.top-footer__resources li:last-child {
  margin: 0px 0px 0px 0px;
}

.top-footer__resource {
  font-size: 18px;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 60px auto;
}

.bottom-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.bottom-footer__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.bottom-footer__title {
  color: #626262;
  font-size: 21px;
  margin: 0px 0px 30px 0px;
}

._no-webp .bottom-footer__info{
  background: url("../img/footer/Location_icon.png") 0 0 no-repeat; }

.bottom-footer__info {
  font-size: 18px;
  padding: 0px 0px 0px 30px;
}

.bottom-footer__info p {
  margin: 0px 0px 20px 0px;
}

.bottom-footer__info p:last-child {
  margin: 0px 0px 0px 0px;
}

.bottom-footer__contact {
  font-size: 30px;
}

.bottom-footer__tel {
  display: inline-block;
  margin: 0px 0px 30px 0px;
}

.bottom-footer__email {
  display: inline-block;
  border-bottom: 1px solid #ff3c2d;
}

.bottom-footer__socials {
  text-align: right;
}

.bottom-footer__socials li {
  margin: 0px 0px 20px 0px;
}

.bottom-footer__socials li:last-child {
  margin: 0px 0px 0px 0px;
}

.bottom-footer__social {
  font-size: 18px;
}

.rights-footer {
  padding: 26px 0px 0px 0px;
  position: relative;
  opacity: 0.2;
}

.rights-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.rights-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1560px;
  margin: 0px auto;
}

.rights-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.rights-footer__column:last-child {
  text-align: right;
}

.rights-footer__text {
  text-align: center;
  font-size: 18px;
}

.rights-footer__link {
  display: inline-block;
  text-align: right;
  font-size: 18px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock {
  position: relative;
  margin: 0px 0px 80px 0px;
}

.mainblock__content {
  position: relative;
  z-index: 50;
  max-width: 600px;
  padding: 70px 0px 70px 78px;
}

.mainblock__title {
  text-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  line-height: 80px;
  font-size: 70px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.mainblock__label {
  text-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 21px;
  margin: 0px 0px 46px 0px;
}

.mainblock__ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.services__column:first-child {
  background-color: #222222;
  color: #fff;
}

.services__column:first-child .item-service::after {
  background-color: #fff;
}

.services__column:first-child .item-service__number {
  color: #fefefe;
}

.services__column:last-child {
  background-color: #f6f6f6;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px 80px 0px;
  max-width: 400px;
  margin: 0px auto;
}

.service__icon {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.service__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.service__items {
  margin: 0px 0px 50px 0px;
}

.service__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 67px;
  font-size: 18px;
  height: 45px;
}

.item-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0px 0px 38px 0px;
}

.item-service::after {
  content: "";
  position: absolute;
  bottom: 12px;
  height: 1px;
  background-color: #222;
  opacity: 0.2;
}

.item-service:first-child::after {
  left: 27px;
  width: calc(100% - 27px);
}

.item-service:nth-child(2)::after {
  left: 42px;
  width: calc(100% - 42px);
}

.item-service:nth-child(3) {
  margin: 0px 0px 0px 0px;
}

.item-service:nth-child(3)::after {
  left: 32px;
  width: calc(100% - 32px);
}

.item-service__number {
  width: 42px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
          flex: 0 0 42px;
  opacity: 0.2;
  color: #222222;
  font-size: 80px;
  margin: 0px 50px 0px 0px;
}

.item-service__text {
  font-size: 18px;
  font-weight: 500;
}

.locations {
  position: relative;
}

.locations__container {
  position: relative;
  z-index: 5;
}

.locations__content {
  max-width: 700px;
  padding: 150px 0px 150px 80px;
}

.locations__search {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 45px 45px 45px 45px;
}

.locations__title {
  color: #222222;
  font-size: 50px;
  font-weight: 600;
  margin: 0px 0px 28px 0px;
}

.locations__label {
  font-size: 18px;
  margin: 0px 0px 25px 0px;
  color: #222;
}

.locations__ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pro {
  padding: 120px 0px 0px 0px;
  margin: 0px 0px 140px 0px;
}

.pro__content {
  max-width: 1561px;
  margin: 0px auto;
}

.pro__title {
  font-size: 50px;
  color: #222;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 44px 0px;
}

.tabs-pro__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 60px 0px;
}

.tabs-pro__item {
  margin: 0px 40px 0px 0px;
  color: #ababab;
  font-size: 18px;
  cursor: pointer;
}

.tabs-pro__item._active {
  color: #222;
}

.tabs-pro__item:last-child {
  margin: 0px 0px 0px 0px;
}

.block-tabs {
  margin: 0px 0px 100px 0px;
}

.block-tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-tabs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 860px;
  max-width: 50%;
}

.block-tabs__column:last-child {
  position: relative;
}

.block-tabs__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-block {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-block__wrapper {
  margin: 0px 0px 0px 3px;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 30px);
  position: relative;
}

.slider-block__wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 30px;
  right: 0;
  top: 0;
  background-color: #fff;
}

.slider-block__slide {
  margin: 0px 30px 0px 0px;
}

.slider-block__nav {
  width: calc(100% - 30px);
  height: 40px;
  margin: -10px 0px 0px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 15px);
          flex: 0 1 calc(50% - 15px);
}

.slider-block__column:first-child {
  margin: 0px 30px 0px 0px;
}

._no-webp .slider-block__prev{
  background: #f6f6f6 url("../img/pro/Arrow_copy.png") center no-repeat; }

.slider-block__prev {
  cursor: pointer;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._no-webp .slider-block__prev:hover{
  background: #dddada url("../img/pro/Arrow_copy.png") center no-repeat; }

._no-webp .slider-block__next{
  background: #f6f6f6 url("../img/pro/Arrow.png") center no-repeat; }

.slider-block__next {
  cursor: pointer;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._no-webp .slider-block__next:hover{
  background: #dddada url("../img/pro/Arrow.png") center no-repeat; }

.slide {
  width: calc(50% - 30px) !important;
  height: 100%;
}

.slide__content {
  height: 100%;
  margin: -15px 0px;
}

.slide__column {
  height: 50%;
  width: 100%;
  padding: 15px 0px;
}

.slide__item {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px 0px;
}

.slide__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-slide {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.item-slide::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 2;
}

.item-slide img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-slide:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item-slide:hover::after {
  opacity: 0.2;
}

.item-slide:hover .item-slide__more {
  bottom: 25px;
}

.item-slide__more {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  position: absolute;
  bottom: -75px;
  left: 25px;
  z-index: 7;
}

.item-slide__type {
  letter-spacing: 0.72px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  height: 25px;
  width: 90px;
  background-color: #ff3c2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin: 0px 0px 10px 0px;
}

._no-webp .item-slide__check{
  background: url("../img/pro/Arrow_W.png") right no-repeat; }

.item-slide__check {
  color: #fff;
  font-size: 18px;
  padding: 0px 45px 0px 0px;
}

.why {
  padding: 80px 0px 100px 0px;
  background-color: #f6f6f6;
}

.why__content {
  max-width: 1561px;
  margin: 0px auto;
}

.why__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -40px;
  color: #222222;
}

.why__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 40px;
}

.why__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  margin: 0px 0px 34px 0px;
}

.why__text {
  max-width: 620px;
  font-size: 18px;
  line-height: 32px;
}

.why__logo {
  margin: 0px 0px 70px 0px;
}

.items-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -45px;
}

.items-why__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 45px;
}

.items-why__column .items-why__item:last-child {
  margin: 0px 0px 0px 0px;
}

.items-why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 17px 0px;
  position: relative;
}

.items-why__item::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #222;
  opacity: 0.2;
}

.items-why__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 18px 0px 14px;
}

.items-why__icon_b {
  margin: 0px 18px 0px 6px;
}

.items-why__text {
  font-size: 16px;
  line-height: 24px;
}

.bottom-why {
  margin: 0px 0px 0px 90px;
  max-width: 1060px;
  background-color: #222222;
  color: #fff;
  padding: 55px 80px 60px 80px;
  position: relative;
}

._no-webp .bottom-why::after{
  background: url("../img/why/Arrow_icon.png") 0 0 no-repeat; }

.bottom-why::after {
  content: "";
  position: absolute;
  top: -110px;
  left: -90px;
  width: 63px;
  height: 139px;
}

.bottom-why__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.bottom-why__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.bottom-why__text p {
  margin: 0px 0px 40px 0px;
}

.bottom-why__text p:last-child {
  margin: 0;
}

.bottom-why__text a {
  display: inline-block;
  border-bottom: 1px solid #ff3c2d;
  color: #fff;
}

.clients {
  background-color: #222222;
  color: #fff;
  padding: 100px 0px 120px 0px;
}

.clients__title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 27px 0px;
}

.clients__label {
  font-size: 18px;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.slider-clients {
  max-width: 1604px;
  margin: 0px auto;
}

.slider-clients__wrapper {
  margin: 0px 0px 60px 0px;
}

.slider-clients__slide-content {
  width: calc(100% - 44px);
  margin: 0px auto;
}

.slider-clients__photo {
  width: 100%;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 20px 0px;
}

.slider-clients__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 29px 0px;
}

.slider-clients__name {
  font-size: 16px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.slider-clients__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-clients__star {
  margin: 0px 3px 0px 0px;
}

._no-webp .slider-clients__feedback{
  background: url("../img/clients/kav.png") 0 -2px no-repeat; }

.slider-clients__feedback {
  padding: 0px 0px 0px 35px;
  font-size: 18px;
  font-style: italic;
  line-height: 32px;
  max-width: 440px;
}

.slider-clients__pagging {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-clients__pagging .swiper-pagination-bullet {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #cfcfcf;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}

.slider-clients__pagging .swiper-pagination-bullet:last-child {
  margin: 0px 0px 0px 0px;
}

.slider-clients__pagging .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #ff3c2d;
}

.fast {
  position: relative;
}

.fast::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 3;
}

.fast__container {
  position: relative;
  z-index: 6;
  color: #ffffff;
}

.fast__row {
  max-width: 1560px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 0px 140px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fast__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.fast__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fast__label {
  line-height: 55px;
  font-size: 50px;
  font-weight: 600;
}

.fast__btn {
  padding: 0px 68px;
  height: 45px;
}

.fast__ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog {
  padding: 80px 0px 80px 0px;
  color: #222;
}

.blog__title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 14px 0px;
}

.blog__label {
  font-size: 18px;
  text-align: center;
  margin: 0px 0px 70px 0px;
}

.blog__items {
  max-width: 1200px;
  margin: 0px auto 60px auto;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__btn {
  height: 45px;
  padding: 0px 53px;
}

.items-blog__row {
  margin: 0px -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-blog__column {
  padding: 0px 11px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-blog {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0px 0px 30px 0px;
}

.item-blog__photo {
  display: inline-block;
  width: 100%;
  padding: 0px 0px 78% 0px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
}

.item-blog__photo img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-blog__photo:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.item-blog__title {
  display: inline-block;
  padding: 0px 25px 0px 25px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 56px 0px;
}

.item-blog__info {
  padding: 0px 25px 0px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._no-webp .item-blog__comments{
  background: url("../img/blog/Comm_Icon.png") 0 0 no-repeat; }

.item-blog__comments {
  padding: 0px 0px 0px 30px;
  color: #ff3c2d;
  font-size: 16px;
}

.item-blog__date {
  font-size: 16px;
  color: #ababab;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #93160d;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1400.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1732px) {
  ._container {
    max-width: 1370px;
  }

  .header__logo {
    margin: 0px 100px 0px 0px;
  }

  footer {
    padding: 50px 0px 27px 0px;
  }

  .top-footer {
    margin: 0px auto 55px auto;
  }

  .top-footer__title {
    margin: 0px 0px 20px 0px;
  }

  .top-footer__list li {
    margin: 0px 0px 15px 0px;
  }

  .top-footer__resources li {
    margin: 0px 0px 15px 0px;
  }

  .bottom-footer {
    margin: 0px auto 35px auto;
  }

  .bottom-footer__title {
    margin: 0px 0px 20px 0px;
  }

  .bottom-footer__info p {
    margin: 0px 0px 15px 0px;
  }

  .bottom-footer__contact {
    font-size: 25px;
  }

  .bottom-footer__socials li {
    margin: 0px 0px 15px 0px;
  }

  .mainblock {
    margin: 0px 0px 60px 0px;
  }

  .mainblock__content {
    padding: 60px 0px 60px 70px;
  }

  .mainblock__title {
    font-size: 60px;
    line-height: 70px;
    margin: 0px 0px 25px 0px;
  }

  .mainblock__label {
    margin: 0px 0px 35px 0px;
  }

  .service {
    padding: 50px 0px 50px 0px;
  }

  .service__icon {
    margin: 0px 0px 15px 0px;
  }

  .service__title {
    margin: 0px 0px 30px 0px;
    font-size: 26px;
  }

  .service__items {
    margin: 0px 0px 30px 0px;
  }

  .item-service {
    margin: 0px 0px 20px 0px;
  }

  .locations__content {
    padding: 80px 0px 80px 80px;
  }

  .locations__search {
    padding: 30px 30px 30px 30px;
  }

  .locations__title {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }

  .pro {
    padding: 80px 0px 0px 0px;
    margin: 0px 0px 100px 0px;
  }

  .block-tabs {
    max-width: 1066px;
    margin: 0px auto;
  }

  .block-tabs__column {
    height: 577px;
  }

  .slider-block__wrapper::after {
    width: 14px;
  }

  .slider-block__slide {
    margin: 0px 14px 0px 0px;
  }

  .slider-block__nav {
    width: calc(100% - 14px);
    height: 30px;
    margin: 0px 0px 0px 3px;
  }

  .slider-block__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 7px);
            flex: 0 1 calc(50% - 7px);
  }

  .slider-block__column:first-child {
    margin: 0px 14px 0px 0px;
  }

  .slide {
    width: calc(50% - 14px) !important;
  }

  .slide__content {
    margin: -7px 0px;
  }

  .slide__column {
    padding: 7px 0px;
  }

  .why {
    padding: 60px 0px 60px 0px;
  }

  .why__content {
    max-width: 1166px;
    margin: 0px auto;
  }

  .why__top {
    margin: 0px -10px;
  }

  .why__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 42%;
            flex: 0 1 42%;
  }

  .why__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58%;
            flex: 0 1 58%;
  }

  .why__title {
    font-size: 40px;
    line-height: 45px;
    margin: 0px 0px 28px 0px;
  }

  .why__text {
    max-width: 450px;
  }

  .why__logo {
    max-width: 200px;
    margin: 0px 0px 60px 0px;
  }

  .why__logo img {
    max-width: 100%;
  }

  .items-why {
    margin: 0px -20px;
  }

  .items-why__column {
    padding: 0px 20px;
  }

  .items-why__item {
    padding: 0px 0px 12px 0px;
    margin: 0px 0px 30px 0px;
  }

  .items-why__icon {
    width: 50px;
  }

  .items-why__icon img {
    max-width: 35px;
  }

  .items-why__text {
    line-height: 22px;
    font-size: 14px;
  }

  .bottom-why {
    max-width: 730px;
    padding: 40px 40px 40px 40px;
  }

  .bottom-why::after {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    top: -40px;
    left: -70px;
  }

  .bottom-why__title {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }

  .bottom-why__text {
    font-size: 16px;
    line-height: 25px;
  }

  .bottom-why__text p {
    margin: 0px 0px 20px 0px;
  }

  .clients {
    padding: 70px 0px 70px 0px;
  }

  .clients__title {
    font-size: 45px;
    margin: 0px 0px 20px 0px;
  }

  .clients__label {
    margin: 0px 0px 45px 0px;
  }

  .slider-clients {
    max-width: 1200px;
  }

  .slider-clients__wrapper {
    margin: 0px 0px 40px 0px;
  }

  .slider-clients__slide-content {
    width: calc(100% - 22px);
  }

  .slider-clients__feedback {
    font-size: 16px;
    line-height: 26px;
  }

  .fast__row {
    max-width: 1200px;
    padding: 80px 0px 80px 0px;
  }

  .fast__label {
    font-size: 40px;
  }

  .blog {
    padding: 60px 0px 60px 0px;
  }

  .blog__label {
    margin: 0px 0px 50px 0px;
  }

  .blog__items {
    max-width: 1000px;
    margin: 0px auto 40px auto;
  }

  .item-blog__photo {
    margin: 0px 0px 20px 0px;
  }

  .item-blog__title {
    margin: 0px 0px 40px 0px;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20px;
  }

  .item-blog__info {
    padding: 0px 20px;
  }
}

@media (max-width: 1400.98px) {
  ._container {
    max-width: 1100px;
  }

  .btn_b {
    font-size: 16px;
    height: 40px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__logo {
    max-width: 100px;
    margin: 0px 60px 0px 0px;
  }

  .header__logo img {
    max-width: 100%;
  }

  .top-footer {
    margin: 0px auto 35px auto;
  }

  .top-footer__link {
    font-size: 16px;
  }

  .top-footer__resource {
    font-size: 15px;
  }

  .bottom-footer__socials {
    text-align: left;
  }

  .mainblock {
    margin: 0px 0px 40px 0px;
  }

  .mainblock__content {
    padding: 40px 0px 40px 60px;
  }

  .mainblock__title {
    font-size: 50px;
    line-height: 60px;
    margin: 0px 0px 20px 0px;
  }

  .service {
    padding: 40px 0px 40px 0px;
  }

  .service__title {
    margin: 0px 0px 20px 0px;
  }

  .item-service {
    margin: 0px 0px 15px 0px;
  }

  .locations__content {
    padding: 65px 0px 65px 65px;
  }

  .pro {
    padding: 60px 0px 0px 0px;
    margin: 0px 0px 80px 0px;
  }

  .pro__title {
    margin: 0px 0px 30px 0px;
  }

  .tabs-pro__nav {
    margin: 0px 0px 40px 0px;
  }

  .block-tabs {
    max-width: 800px;
    margin: 0px auto;
  }

  .block-tabs__column {
    height: 433px;
  }

  .why {
    padding: 40px 0px 40px 0px;
  }

  .why__content {
    max-width: 950px;
    margin: 0px auto;
  }

  .why__title {
    font-size: 35px;
    line-height: 40px;
    margin: 0px 0px 20px 0px;
  }

  .why__text {
    font-size: 16px;
    line-height: 30px;
  }

  .why__logo {
    max-width: 150px;
    margin: 0px 0px 60px 0px;
  }

  .why__logo img {
    max-width: 100%;
  }

  .items-why__item {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
  }

  .items-why__icon {
    margin: 0px 8px 0px 8px;
    width: 40px;
  }

  .items-why__icon img {
    max-width: 35px;
  }

  .items-why__text {
    line-height: 20px;
  }

  .bottom-why {
    margin: 0px 0px 0px 270px;
    max-width: 650px;
    padding: 30px 30px 30px 30px;
  }

  .bottom-why::after {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    top: -20px;
  }

  .clients {
    padding: 50px 0px 50px 0px;
  }

  .clients__title {
    font-size: 40px;
    margin: 0px 0px 15px 0px;
  }

  .fast__row {
    max-width: 1000px;
    padding: 60px 0px 60px 0px;
  }

  .fast__column:first-child {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 90% !important;
            flex: 0 1 90% !important;
  }

  .blog {
    padding: 40px 0px 40px 0px;
  }

  .blog__title {
    font-size: 40px;
  }

  .blog__label {
    margin: 0px 0px 35px 0px;
  }

  .blog__items {
    margin: 0px auto 20px auto;
  }

  .item-blog__photo {
    margin: 0px 0px 15px 0px;
  }

  .item-blog__title {
    margin: 0px 0px 20px 0px;
    padding: 0px 10px;
    line-height: 20px;
  }

  .item-blog__info {
    padding: 0px 10px;
  }

  .item-blog__comments {
    font-size: 14px;
    padding: 0px 0px 0px 23px;
    line-height: 20px;
  }

  .item-blog__date {
    font-size: 14px;
  }
}

@media (max-width: 1129.98px) {
  ._container {
    max-width: 768px;
    padding: 0 10px;
  }

  .btn {
    font-size: 14px;
  }

  .header {
    padding: 18px 0px 18px 0px;
  }

  .header__logo {
    margin: 0px 40px 0px 0px;
  }

  .header__logo img {
    max-width: 100px;
  }

  .header__btn {
    margin: 0px 0px 0px 0px;
  }

  .menu__list li {
    margin: 0px 20px 0px 0px;
  }

  .menu__link {
    font-size: 14px;
  }

  .socials {
    display: none;
  }

  .top-footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .top-footer__column:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .top-footer__column:last-child {
    display: none;
  }

  .bottom-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .bottom-footer__column:nth-child(2) {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 43% !important;
            flex: 0 1 43% !important;
  }

  .bottom-footer__column:nth-child(3) {
    display: none;
  }

  .bottom-footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .mainblock__content {
    max-width: 500px;
  }

  .mainblock__title {
    font-size: 40px;
    line-height: 50px;
  }

  .mainblock__label {
    font-size: 18px;
    margin: 0px 0px 30px 0px;
  }

  .services__column:first-child .service__icon {
    max-width: 30px;
  }

  .service {
    padding: 30px 0px 30px 0px;
    max-width: 300px;
  }

  .service__icon {
    margin: 0px auto 15px auto;
    width: 60px;
  }

  .service__icon img {
    max-width: 100%;
  }

  .service__title {
    font-size: 22px;
  }

  .service__items {
    margin: 0px 0px 20px 0px;
  }

  .service__btn {
    font-size: 16px;
    height: 40px;
    padding: 0px 45px;
  }

  .item-service {
    margin: 0px 0px 10px 0px;
  }

  .item-service::after {
    bottom: 10px;
  }

  .item-service:first-child::after {
    left: 25px;
    width: calc(100% - 25px);
  }

  .item-service:nth-child(2)::after {
    left: 36px;
    width: calc(100% - 36px);
  }

  .item-service__number {
    font-size: 60px;
  }

  .item-service__text {
    font-size: 16px;
  }

  .pro {
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 60px 0px;
  }

  .pro__title {
    font-size: 40px;
  }

  .tabs-pro__item {
    margin: 0px 10px 0px 0px;
  }

  .why {
    padding: 30px 0px 30px 0px;
  }

  .why__column {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 50% !important;
            flex: 0 1 50% !important;
  }

  .why__title {
    font-size: 30px;
    line-height: 35px;
    margin: 0px 0px 15px 0px;
  }

  .why__text {
    font-size: 16px;
    line-height: 28px;
  }

  .why__logo {
    margin: 0px 0px 40px 0px;
  }

  .items-why {
    display: block;
  }

  .items-why__column:last-child {
    margin: 20px 0px 0px 0px;
  }

  .items-why__item {
    height: 60px;
    margin: 0px 0px 16px 0px;
  }

  .bottom-why {
    margin: 10px auto;
    max-width: 600px;
  }

  .bottom-why::after {
    display: none;
  }

  .clients {
    padding: 30px 0px 30px 0px;
  }

  .clients__label {
    margin: 0px 0px 30px 0px;
  }

  .slider-clients__slide-content {
    width: calc(100% - 16px);
  }

  .slider-clients__info {
    margin: 0px 0px 15px 0px;
  }

  .slider-clients__name {
    letter-spacing: normal;
    font-size: 14px;
  }

  .slider-clients__star img {
    max-width: 12px;
  }

  .slider-clients__feedback {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0px 0px 28px;
  }

  .fast__row {
    padding: 30px 0px 30px 0px;
  }

  .fast__label {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 767.98px) {
  .btn_h {
    width: 100px;
    height: 32px;
  }

  .btn_b {
    font-size: 15px;
    height: 35px;
    padding: 0px 20px;
  }

  .input {
    width: 120px;
  }

  .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-80%, -50%);
        -ms-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    max-width: 80px;
  }

  .header__logo img {
    max-width: 80px;
  }

  .menu__body {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -150%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: #fff;
    z-index: 500;
  }

  .menu__list {
    display: block;
    position: absolute;
    top: 80px;
    left: 30px;
  }

  .menu__list li {
    margin: 0px 0px 15px 0px;
  }

  .menu__link {
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    -webkit-transform: translate(0, -5px) scale(0.9);
        -ms-transform: translate(0, -5px) scale(0.9);
            transform: translate(0, -5px) scale(0.9);
    top: 32px;
    left: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 201;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  footer {
    padding: 25px 0px 20px 0px;
  }

  .top-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top-footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .top-footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .bottom-footer {
    margin: 0px auto 25px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bottom-footer__info {
    padding: 0px 0px 0px 20px;
    font-size: 16px;
  }

  .bottom-footer__info {
    background: none !important;
    padding: 0px 0px 0px 0px;
  }

  .bottom-footer__info p {
    margin: 0px 0px 10px 0px;
  }

  .bottom-footer__contact {
    font-size: 20px;
  }

  .bottom-footer__socials li {
    margin: 0px 0px 10px 0px;
  }

  .bottom-footer__social {
    font-size: 16px;
  }

  .rights-footer__column:last-child {
    text-align: center;
  }

  .rights-footer__column:first-child {
    display: none;
  }

  .rights-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .mainblock {
    margin: 0px 0px 20px 0px;
  }

  .mainblock__content {
    max-width: 420px;
    padding: 30px 0px 30px 30px;
  }

  .mainblock__title {
    font-size: 30px;
    line-height: 35px;
    margin: 0px 0px 15px 0px;
  }

  .mainblock__label {
    font-size: 14px;
    margin: 0px 0px 15px 0px;
  }

  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .service {
    padding: 20px 0px 20px 0px;
  }

  .service__title {
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }

  .service__items {
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 15px 0px;
  }

  .locations__content {
    padding: 30px 30px 30px 30px;
  }

  .locations__search {
    padding: 20px 20px 20px 20px;
  }

  .locations__title {
    font-size: 25px;
    margin: 0px 0px 14px 0px;
  }

  .locations__label {
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 18px 0px;
  }

  .pro {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 40px 0px;
  }

  .pro__title {
    font-size: 23px;
  }

  .tabs-pro__nav {
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px auto 20px auto;
  }

  .tabs-pro__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
  }

  .block-tabs__column {
    height: 344px;
  }

  .slider-block__wrapper {
    margin: 0px 0px 0px 7px;
  }

  .slider-block__wrapper::after {
    width: 0;
  }

  .slider-block__nav {
    margin: 0px 0px 0px 6px;
  }

  .why {
    padding: 20px 0px 0px 0px;
  }

  .why__top {
    display: block;
  }

  .why__column {
    padding: 0px 20px;
  }

  .why__column:first-child {
    margin: 0px 0px 20px 0px;
  }

  .why__title {
    font-size: 28px;
    line-height: 30px;
  }

  .why__text {
    line-height: 25px;
  }

  .why__logo {
    margin: 0px 0px 20px 0px;
  }

  .items-why {
    max-width: none;
  }

  .bottom-why__title {
    line-height: 24px;
    margin: 0px 0px 15px 0px;
  }

  .bottom-why__text {
    line-height: 20px;
  }

  .bottom-why__text p {
    margin: 0px 0px 15px 0px;
  }

  .clients {
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
  }

  .clients__title {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
  }

  .clients__label {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }

  .slider-clients__wrapper {
    margin: 0px 0px 20px 0px;
  }

  .slider-clients__slide-content {
    width: calc(100% - 22px);
  }

  .fast__label {
    font-size: 25px;
    line-height: 30px;
  }

  .fast__btn {
    padding: 0px 30px;
  }

  .blog {
    padding: 20px 0px 20px 0px;
  }

  .blog__title {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
  }

  .blog__label {
    margin: 0px 0px 20px 0px;
  }

  .blog__items {
    max-width: 500px;
  }

  .items-blog__row {
    display: block;
  }

  .items-blog__column {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 590px) {
  .top-footer {
    margin: 0px auto 15px auto;
  }

  .top-footer__column:nth-child(2) {
    display: none;
  }

  .top-footer__column:nth-child(3) {
    display: none;
  }

  .bottom-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 62%;
            flex: 0 1 62%;
    margin: 0px 0px 20px 0px;
  }

  .bottom-footer__column:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
    margin: 0px 0px 0px 0px;
  }

  .bottom-footer__column:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 38%;
            flex: 0 1 38%;
  }

  .bottom-footer__contact {
    font-size: 15px;
  }

  .bottom-footer__tel {
    margin: 0px 10px 0px 0px;
  }

  .rights-footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }

  .rights-footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }

  .rights-footer__text {
    font-size: 14px;
  }

  .rights-footer__link {
    font-size: 14px;
  }
}

@media (max-width: 544px) {
  .block-tabs__column:last-child {
    display: none;
  }

  .block-tabs__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 400px;
    margin: 0px auto;
  }
}

@media (max-width: 424px) {
  .fast__row {
    padding: 20px 0px 20px 20px;
    display: block;
  }

  .fast__column:first-child {
    margin: 0px 0px 20px 0px;
  }

  .fast__column:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

._webp .top-footer__resources li{ background: url(../img/footer/Arrow.webp) 0 center no-repeat; }

._webp .bottom-footer__info{ background: url(../img/footer/Location_icon.webp) 0 0 no-repeat; }

._webp .slider-block__prev{ background: #f6f6f6 url(../img/pro/Arrow_copy.webp) center no-repeat; }

._webp .slider-block__prev:hover{ background: #dddada url(../img/pro/Arrow_copy.webp) center no-repeat; }

._webp .slider-block__next{ background: #f6f6f6 url(../img/pro/Arrow.webp) center no-repeat; }

._webp .slider-block__next:hover{ background: #dddada url(../img/pro/Arrow.webp) center no-repeat; }

._webp .item-slide__check{ background: url(../img/pro/Arrow_W.webp) right no-repeat; }

._webp .bottom-why::after{ background: url(../img/why/Arrow_icon.webp) 0 0 no-repeat; }

._webp .slider-clients__feedback{ background: url(../img/clients/kav.webp) 0 -2px no-repeat; }

._webp .item-blog__comments{ background: url(../img/blog/Comm_Icon.webp) 0 0 no-repeat; }